.mat-toolbar {
  background: none;
  padding-left: 20px;
  /* Make tool bar sticky. */
  @media screen and (min-width: 1280px) {
    background-color: rgba(255, 255, 255, 0.85);
    position: sticky;
    position: -webkit-sticky; /* For macOS/iOS Safari */
    top: 0; /* Sets the sticky toolbar to be on top */
    z-index: 998; /* Ensure that your app's content doesn't overlap the toolbar */
  }
}

mat-icon-button:hover {
  background-color: #cccccc;
}

form {
  padding: 25px 20px 20px 20px;
}

.win-checkboxes-wrapper {
  padding-bottom: 1.25em;
  padding-left: 10px;
}

.win-full-width {
  width: 96%;
}

.win-text-icon {
  margin-left: 10px;
}

h1, h2, h3, h4 {
  margin-left: 3px;
}