/* Mat Toolbar */
.mat-toolbar {
  background: none;
  /* Make tool bar sticky. */
  @media screen and (min-width: 1280px) {
    background-color: rgba(255, 255, 255, 0.85);
    position: sticky;
    position: -webkit-sticky; /* For macOS/iOS Safari */
    top: 0; /* Sets the sticky toolbar to be on top */
    z-index: 998; /* Ensure that your app's content doesn't overlap the toolbar */
  }
}

/* Icons */
mat-icon-button:hover {
  background-color: #cccccc;
}

/* Data table */
table {
  width: 100%;
}

/* Row style for datagrids */
.win-clickable-row {
  cursor: pointer;
}
  .win-clickable-row:hover {
    background-color: #f5f5f5;
  }

  .win-forbidden-row {
    cursor: not-allowed;
  }
    tr.win-forbidden-row td {
      color: rgba(0,0,0,.26);
    }
    .win-forbidden-row:hover {
      background-color: #ffffff;
    }

/* Footer button style for datagrid */
.win-footer-btn {
  margin: 10px 10px;
}

/* Adjust paginators */
mat-paginator {
  margin-right: 16px;
}

/* Hide paginator parts and on mobile */
::ng-deep mat-paginator.win-toolbar-paginator {
  margin-right: 0px;
  font-weight: 100;

  .mat-paginator-page-size {
    display: none;
  }
  @media screen and (max-width: 959px) {
    .mat-paginator-range-label, .mat-paginator-navigation-first, .mat-paginator-navigation-last {
      display: none;
    }
  }
}