.win-left-sidebar {
  margin-bottom: 0px !important;
  padding-top: 0px;

  mat-icon {
    margin-right: 10px;
    margin-left: 10px;
  }
  mat-list-item {
    cursor: pointer;
  }
  mat-list-item:hover {
    background-color: #f5f5f5;
  }
  mat-list-item.active {
    background-color: #f5f5f5;
  }
  mat-list-item.disabled {
    color: rgba(0,0,0,.26);
    pointer-events: none;
  }
  mat-list-item:first-child {
    background: none;
    color: rgba(0,0,0,.87);
    pointer-events: all;
  }
  mat-list-item:first-child:hover {
    background-color: #f5f5f5;
  }
  mat-list-item.disabled:hover {
    background-color: #ffffff;
  }
}

.win-sidebar-menu-btn {
  position: fixed;
  left: 10px;
  bottom: 10px;
}