div {
  display: flex;
  height: 18px;
}

input {
  border: none;
  background: none;
  padding: 0;
  outline: none;
  font: inherit;
  height: 18px;
  cursor: not-allowed;
}

mat-icon {
  cursor: pointer;
  font-size: 20px;
  vertical-align: middle;
  color: rgba(0,0,0,.54);
}

mat-spinner {
  cursor: not-allowed;
}