/**
 * Global colors for app
 */

.win-red {
  color: red;
}

.win-blue {
  color: blue;
}

.win-green {
  color: green;
}

.win-brown {
  color: brown;
}

.win-grey {
  color: lightgray;
}

.win-orange {
  color: orange;
}

.win-pink {
  color: #ff4081;
}