.container {
  padding-top: 20px;
}

span.icon {
  background: url('src/assets/icons/google-icon.png') transparent 5px 50% no-repeat;
  display: inline-block;
  vertical-align: middle;
  left: 10px;
  width: 42px;
  height: 42px;
}

span.buttonText {
  display: inline-block;
  vertical-align: middle;
  padding-left: 10px;
  padding-right: 42px;
  font-size: 14px;
  font-weight: bold;
  /* Use the Roboto font that is loaded in the <head> */
  font-family: 'Roboto', sans-serif;
}

.email-password-login {
  margin-top: 20px;
}

.google-login {
  margin-top: 20px;
}