<button mat-icon-button class="win-main-menu">
  <mat-icon [matMenuTriggerFor]="menu">menu</mat-icon>
</button>
<mat-menu #menu="matMenu">
  <a mat-menu-item routerLink="/" (click)="onLoading($event)">
    <mat-icon>home</mat-icon>
    Inicio
  </a>
  <a *ngIf="isSuperUser" mat-menu-item routerLink="/{{auth.instancia}}/admin" (click)="onLoading($event)">
    <mat-icon>emoji_food_beverage</mat-icon>
    Admin
  </a>
  
  <a *ngIf="modulos && modulos.empresas && modulos.personas && modulos.sedes && modulos.sedeTipos &&
    modulos.empresas.enabled && modulos.personas.enabled && modulos.sedes.enabled && modulos.sedeTipos.enabled && 
    (empresaAutho.canRead || personaAutho.canRead || sedeAutho.canRead || sedeTipoAutho.canRead)"
    mat-menu-item [matMenuTriggerFor]="contactosMenu"
  >
    <mat-icon>contacts</mat-icon> Contactos
  </a>

  <a *ngIf="usuarioAutho.canRead" mat-menu-item routerLink="/{{auth.instancia}}/usuarios" (click)="onLoading($event)">
    <mat-icon>account_circle</mat-icon>
    Usuarios
  </a>

  <a *ngIf="instanciaAutho.canRead && 'default' === auth.instancia" mat-menu-item routerLink="/{{auth.instancia}}/instancias" (click)="onLoading($event)">
    <mat-icon>developer_board</mat-icon>
    Instancias
  </a>  
  <a mat-menu-item [matMenuTriggerFor]="usuarioMenu" title="Usuario: {{ displayName }}">
    <img class="win-usr-img" src="{{ photoURL }}">
    {{ displayName | slice:0:7 }}...
  </a>
</mat-menu>

<mat-menu #contactosMenu="matMenu">
  <a *ngIf="modulos && modulos.empresas && modulos.empresas.enabled && empresaAutho.canRead" 
    mat-menu-item routerLink="/{{auth.instancia}}/empresas" (click)="onLoading($event)">
    <mat-icon title="Empresas">business</mat-icon>
    Empresas
  </a>
  <a *ngIf="modulos && modulos.personas && modulos.personas.enabled && personaAutho.canRead" 
    mat-menu-item routerLink="/{{auth.instancia}}/personas" (click)="onLoading($event)">
    <mat-icon title="Personas">person</mat-icon>
    Personas
  </a>
  <a *ngIf="modulos && modulos.sedes && modulos.sedes.enabled && sedeAutho.canRead" 
    mat-menu-item routerLink="/{{auth.instancia}}/sedes" (click)="onLoading($event)">
    <mat-icon title="Sedes">place</mat-icon>
    Sedes
  </a>
  <a *ngIf="modulos && modulos.sedeTipos && modulos.sedeTipos.enabled && sedeTipoAutho.canRead" 
    mat-menu-item routerLink="/{{auth.instancia}}/sede-tipos" (click)="onLoading($event)">
    <mat-icon title="Tipos de Sede">turned_in_not</mat-icon>
    Tipos de Sede
  </a>
</mat-menu>

<mat-menu #usuarioMenu="matMenu">
  <a *ngIf="showInstanciaSwitch" mat-menu-item routerLink="/instancia-switch" (click)="onLoading($event)">
    <mat-icon title="Cambiar de Instancia">swap_horiz</mat-icon>
    Cambiar
  </a>  
  <a mat-menu-item (click)="onLogout()">
    <mat-icon title="Cerrar Sesión">exit_to_app</mat-icon>
    Cerrar Sesión 
  </a>
</mat-menu>