<mat-toolbar>
    <span fxFlex="70" fxLayout="row" fxLayoutAlign="start center">
      <button type="button" mat-icon-button (click)="onSave(true)" color="primary"
        [disabled]="form.invalid || !form.touched || !canCreateOrEdit">
        <mat-icon class="win-action-btn" title="Guardar">save</mat-icon>
      </button>
  
      <button type="button" mat-icon-button (click)="onDelete()"
        [disabled]="'0' == form.get('id').value || !autho.canDelete">
        <mat-icon class="win-action-btn" title="Borrar">delete</mat-icon> 
      </button>
    </span>
    <span fxFlex="30" fxLayout="row" fxLayoutAlign="end center">
      <button *ngIf="isPopup" mat-icon-button (click)="onClose()">
        <mat-icon>close</mat-icon>
      </button>
    </span>
  </mat-toolbar>
  
  <mat-divider></mat-divider>
  
  <form [formGroup]="form">
    <div fxLayout="row wrap" fxLayoutGap="2%" fxLayoutAlign="start center" fxLayoutAlign.lt-sm="center center">
      <mat-form-field fxFlex="31" fxFlex.lt-sm="94">
        <mat-select placeholder="Nombre de la API" formControlName="nombre">
          <mat-option *ngFor="let option of apiOpts" [value]="option.value">
            {{option.viewValue}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="nombre.errors">
          <span *ngIf="nombre.errors.required">
            El Nombre de la API es requerido.
          </span>
          <span *ngIf="nombre.errors.apiExists">
            La API ya existe.
          </span>
        </mat-error>
      </mat-form-field>
  
      <mat-form-field fxFlex="31" fxFlex.lt-sm="94">
        <input matInput placeholder="API Key" formControlName="apiKey">
        <mat-error *ngIf="apiKey.errors">
          <span *ngIf="apiKey.errors.required">
            La API Key es requerida.
          </span>
        </mat-error>
      </mat-form-field>
  
      <mat-form-field fxFlex="31" fxFlex.lt-sm="94">
        <input matInput placeholder="API Secret" formControlName="apiSecret">
        <mat-error *ngIf="apiSecret.errors">
          <span *ngIf="apiSecret.errors.required">
            La API Secret Key es requerida.
          </span>
        </mat-error>
      </mat-form-field>
  
      <mat-form-field fxFlex="31" fxFlex.lt-sm="94">
        <input matInput placeholder="Query String Auth" formControlName="queryStringAuth">
        <mat-error *ngIf="queryStringAuth.errors">
          <span *ngIf="queryStringAuth.errors.required">
            El Query String Auth es requerida.
          </span>
        </mat-error>
      </mat-form-field>
  
      <mat-form-field fxFlex="31" fxFlex.lt-sm="94">
        <input matInput placeholder="URL" formControlName="url">
        <mat-error *ngIf="url.errors">
          <span *ngIf="url.errors.required">
            La API Secret Key es requerida.
          </span>
        </mat-error>
      </mat-form-field>
    
      <mat-form-field fxFlex="31" fxFlex.lt-sm="94">
        <input matInput placeholder="Versión" formControlName="version">
        <mat-error *ngIf="version.errors">
          <span *ngIf="version.errors.required">
            La Versión de la API es requerida.
          </span>
        </mat-error>
      </mat-form-field>
  
      <div fxFlex="100" class="win-checkboxes-wrapper">
        <mat-checkbox fxFlex="31" fxFlex.lt-sm="94" formControlName="enabled">¿Habilitada?</mat-checkbox>
      </div>
    </div>

    <h3>Parámetros</h3>
    <div formArrayName="params" fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutAlign.lt-sm="center center">
      <div *ngFor="let param of params.controls; let i=index" [formGroupName]="i"
        fxLayout="row wrap" fxLayoutGap="2%" fxLayoutAlign="start center" class="win-full-width">
        <mat-form-field fxFlex="44" fxFlex.lt-sm="52">
          <input matInput placeholder="Parámetro" formControlName="key">
        </mat-form-field>
        <mat-form-field fxFlex="20" fxFlex.lt-sm="30">
          <input matInput placeholder="Valor" formControlName="value">
        </mat-form-field>
        <button type="button" mat-icon-button (click)="deleteParam(i)" [disabled]="!canCreateOrEdit" color="warn"><mat-icon>delete</mat-icon></button>
      </div>
      <div fxFlex="100">
        <button type="button" mat-icon-button (click)="addParam()" [disabled]="!canCreateOrEdit" color="accent"><mat-icon>add</mat-icon></button>
      </div>
    </div>
  </form>