<mat-toolbar>
  <span fxFlex="70" fxLayout="row" fxLayoutAlign="start center">
    <button type="button" mat-icon-button (click)="onSave(true)" color="primary"
      [disabled]="form.invalid || !form.touched || !canCreateOrEdit">
      <mat-icon class="win-action-btn" title="Guardar">save</mat-icon>
    </button>

    <button type="button" mat-icon-button (click)="onDelete()"
      [disabled]="'0' == form.get('id').value || !autho.canDelete">
      <mat-icon class="win-action-btn" title="Borrar">delete</mat-icon> 
    </button>
  </span>
  <span fxFlex="30" fxLayout="row" fxLayoutAlign="end center">
    <button *ngIf="isPopup" mat-icon-button (click)="onClose()">
      <mat-icon>close</mat-icon>
    </button>
  </span>
</mat-toolbar>

<mat-divider></mat-divider>

<form [formGroup]="form">
  <div fxLayout="row wrap" fxLayoutGap="2%" fxLayoutAlign="start center" fxLayoutAlign.lt-sm="center center">
    <mat-form-field fxFlex="31" fxFlex.lt-sm="94">
      <input matInput placeholder="Nombre de la Instancia" formControlName="nombre">
      <mat-error *ngIf="nombre.errors">
        <span *ngIf="nombre.errors.required">
          El nombre es requerida.
        </span>
        <span *ngIf="nombre.errors.minlength">
          El nombre es muy corto.
        </span>
      </mat-error>
    </mat-form-field>

    <mat-form-field fxFlex="30" fxFlex.lt-sm="94">
      <input matInput [matAutocomplete]="empresaAuto" placeholder="Empresa o Agencia" formControlName="empresaAux" autocomplete="off" type="search">
      <mat-hint>Escribe para buscar una empresa</mat-hint>
      <mat-error *ngIf="empresaAux.errors">
        <span *ngIf="empresaAux.errors.required">
          Es requerido.
        </span>
      </mat-error>
    </mat-form-field>
    <mat-autocomplete #empresaAuto="matAutocomplete" [displayWith]="displayEmpresa" (optionSelected)="empresaSelected($event)">
      <mat-option *ngFor="let option of empresas$|async" [value]="option">{{option.razonSocial}}</mat-option>
    </mat-autocomplete>

    <mat-form-field fxFlex="30" fxFlex.lt-sm="94">
      <input matInput [matAutocomplete]="sedeAuto" placeholder="Sede" formControlName="sedeAux" autocomplete="off" type="search">
      <mat-hint>Escribe para buscar una sede</mat-hint>
      <mat-error *ngIf="sedeAux.errors">
        <span *ngIf="sedeAux.errors.required">
          Es requerido.
        </span>
      </mat-error>
    </mat-form-field>
    <mat-autocomplete #sedeAuto="matAutocomplete" [displayWith]="displaySede" (optionSelected)="sedeSelected($event)">
      <mat-option *ngFor="let option of sedes$|async" [value]="option">{{option.nombre}} - {{option.empresa}}</mat-option>
    </mat-autocomplete>
  </div>
</form>