::ng-deep snack-bar-container.info {
  div.mat-simple-snackbar-action {
    color: #ffffff;
  }
}

::ng-deep snack-bar-container.error {
  div.mat-simple-snackbar-action {
    color: #f44336;
  }
}

::ng-deep snack-bar-container.success {
  div.mat-simple-snackbar-action {
    color: #4caf50;
  }
}