<mat-toolbar>
    <span fxFlex="70" fxLayout="row" fxLayoutAlign="start center">
      <button type="button" mat-icon-button (click)="onSave(true)" color="primary"
        [disabled]="form.invalid || !form.touched || !canCreateOrEdit">
        <mat-icon class="win-action-btn" title="Guardar">save</mat-icon>
      </button>
  
      <button type="button" mat-icon-button (click)="onDelete()"
        [disabled]="'0' == form.get('id').value || !autho.canDelete">
        <mat-icon class="win-action-btn" title="Borrar">delete</mat-icon> 
      </button>
    </span>
    <span fxFlex="30" fxLayout="row" fxLayoutAlign="end center">
      <button *ngIf="isPopup" mat-icon-button (click)="onClose()">
        <mat-icon>close</mat-icon>
      </button>
    </span>
  </mat-toolbar>
  
  <mat-divider></mat-divider>
  
  <form [formGroup]="form">
    <div fxLayout="row wrap" fxLayoutGap="2%" fxLayoutAlign="start center" fxLayoutAlign.lt-sm="center center">
      <mat-form-field fxFlex="20" fxFlex.lt-sm="94">
        <input matInput placeholder="*Nombre" formControlName="nombre">
        <mat-error *ngIf="nombre.errors">
          <span *ngIf="nombre.errors.required">
            El nombre es requerida.
          </span>
          <span *ngIf="nombre.errors.minlength">
            El nombre es muy corto.
          </span>
        </mat-error>
      </mat-form-field>
  
      <mat-form-field fxFlex="20" fxFlex.lt-sm="94">
        <input matInput placeholder="Apellido" formControlName="apellido">
        <mat-error *ngIf="apellido.errors">
          <span *ngIf="apellido.errors.required">
            El nombre es requerida.
          </span>
          <span *ngIf="apellido.errors.minlength">
            El nombre es muy corto.
          </span>
        </mat-error>
      </mat-form-field>
    </div>
  
    <h4 *ngIf="parts.registro">Detalles del Registro</h4>
    <div *ngIf="parts.registro" fxLayout="row wrap" fxLayoutGap="2%" fxLayoutAlign="start center" fxLayoutAlign.lt-sm="center center">
      <mat-form-field fxFlex="32" fxFlex.lt-sm="94">
        <win-usuario-select placeholder="Creador" [formControl]="creadorId" [showClear]="false"></win-usuario-select>
      </mat-form-field>
  
      <mat-form-field fxFlex="32" fxFlex.lt-sm="94">
          <win-usuario-select placeholder="Modificador" [formControl]="modificadorId" [readOnly]="true" [showClear]="false"></win-usuario-select>
      </mat-form-field>
  
      <mat-form-field fxFlex="13" fxFlex.lt-sm="94">
        <input matInput [matDatepicker]="creadoDp" placeholder="Creado el" formControlName="fCreado" readonly="true">
        <mat-datepicker-toggle matSuffix [for]="creadoDp"></mat-datepicker-toggle>
        <mat-datepicker #creadoDp></mat-datepicker>
      </mat-form-field>
  
      <mat-form-field fxFlex="13" fxFlex.lt-sm="94">
        <input matInput matDatepicker placeholder="Modificado el" formControlName="fModificado" readonly="true">
      </mat-form-field>
    </div>
  
    <h4 *ngIf="parts.instancias && 'field' === mainService.instanciaStrategy">Instancia</h4>
    <div *ngIf="parts.instancias && 'field' === mainService.instanciaStrategy" fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutAlign.lt-sm="center center">
      <mat-form-field fxFlex="31" fxFlex.lt-sm="83">
        <win-instancia-select placeholder="Instancia" formControlName="instancia" [readOnly]="false" [showClear]="false"></win-instancia-select>
        <mat-error *ngIf="instancia.errors">
          <span>
            La instancia es requerida.
          </span>
        </mat-error>
      </mat-form-field>
    </div>
  
    <h4 *ngIf="parts.instancias && 'arrayField' === mainService.instanciaStrategy">Instancias</h4>
    <div *ngIf="parts.instancias && 'arrayField' === mainService.instanciaStrategy" formArrayName="instancias" fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutAlign.lt-sm="center center">
      <div *ngFor="let instancia of instancias.controls; let i=index" [formGroupName]="i"
        fxLayout="row wrap" fxLayoutGap="2%" fxLayoutAlign="start center" class="win-full-width">
        <mat-form-field fxFlex="31" fxFlex.lt-sm="83">
          <win-instancia-select placeholder="Instancia" formControlName="instancia" [readOnly]="false" [showClear]="false"></win-instancia-select>
          <mat-error *ngIf="instancia.errors">
            <span>
              El instancia es requerida.
            </span>
          </mat-error>
        </mat-form-field>
        <button type="button" mat-icon-button (click)="deleteInstancia(i)" color="warn"><mat-icon>delete</mat-icon></button>
      </div>
      <div fxFlex="100">
        <button type="button" mat-icon-button (click)="addInstancia()"><mat-icon color="accent">add</mat-icon></button>
      </div>
    </div>
  </form>