<div mat-dialog-content>
  <p>{{ data.content }}</p>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Si</button>
</div>