<mat-toolbar>
  <span fxFlex="70" fxLayout="row" fxLayoutAlign="start center">
    <button type="button" mat-icon-button (click)="onSave(true)" color="primary"
      [disabled]="form.invalid || !form.touched || !canCreateOrEdit">
      <mat-icon class="win-action-btn" title="Guardar">save</mat-icon>
    </button>

    <button type="button" mat-icon-button (click)="onDelete()"
      [disabled]="'0' == form.get('id').value || !autho.canDelete">
      <mat-icon class="win-action-btn" title="Borrar">delete</mat-icon> 
    </button>
  </span>
  <span fxFlex="30" fxLayout="row" fxLayoutAlign="end center">
    <button *ngIf="isPopup" mat-icon-button (click)="onClose()">
      <mat-icon>close</mat-icon>
    </button>
  </span>
</mat-toolbar>

<mat-divider></mat-divider>

<form [formGroup]="form">
  <div fxLayout="row wrap" fxLayoutGap="2%" fxLayoutAlign="start center" fxLayoutAlign.lt-sm="center center">
    <mat-form-field fxFlex="63" fxFlex.lt-sm="94">
      <input matInput placeholder="*Razón Social" formControlName="razonSocial">
      <mat-error *ngIf="razonSocial.errors">
        <span *ngIf="razonSocial.errors.required">
          La razón social es requerida.
        </span>
        <span *ngIf="razonSocial.errors.minlength">
          La razón social es muy corta.
        </span>
      </mat-error>
    </mat-form-field>

    <mat-form-field fxFlex="32" fxFlex.lt-sm="94">
      <input matInput placeholder="*NIT" formControlName="documento">
      <mat-error *ngIf="documento.errors">
        <span *ngIf="documento.errors.required">
          El NIT es requerido.
        </span>
        <span *ngIf="documento.errors.empresaExists">
          La empresa ya existe como '{{ documento.errors.empresaExists }}'.
        </span>
      </mat-error>
    </mat-form-field>

    <mat-form-field fxFlex="63" fxFlex.lt-sm="94">
      <input matInput placeholder="Dirección" formControlName="direccion">
    </mat-form-field>

    <mat-form-field fxFlex="32" fxFlex.lt-sm="94">
      <input matInput placeholder="Ciudad" formControlName="ciudad">
    </mat-form-field>

    <mat-form-field *ngIf="parts.deprecated" fxFlex="63" fxFlex.lt-sm="94">
      <input matInput placeholder="Email (dep)" formControlName="email">
      <mat-hint >Deprecated field.</mat-hint>
      <mat-error *ngIf="email.errors">
        <span *ngIf="email.errors.required">
          El Email es requerido.
        </span>
        <span *ngIf="email.errors.email">
          El email no es válido.
        </span>
        <span *ngIf="email.errors.empresaExists">
          La empresa ya existe como {{ email.errors.empresaExists }}
        </span>
      </mat-error>
    </mat-form-field>
  </div>

  <h3>Teléfonos y Móviles</h3>
  <div formArrayName="telefonos" fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutAlign.lt-sm="center center">
    <div *ngFor="let telefono of telefonos.controls; let i=index" [formGroupName]="i"
      fxLayout="row wrap" fxLayoutGap="2%" fxLayoutAlign="start center" class="win-full-width">
      <mat-form-field fxFlex="20" fxFlex.lt-sm="30">
        <mat-select placeholder="*Tipo" formControlName="tipo">
          <mat-option *ngFor="let option of telefonoOpts" [value]="option.value">
            {{option.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field fxFlex="44" fxFlex.lt-sm="52">
        <input matInput placeholder="*Número" formControlName="numero" winPhone>
      </mat-form-field>
      <button type="button" mat-icon-button (click)="deleteTelefono(i)" [disabled]="!canCreateOrEdit" color="warn"><mat-icon>delete</mat-icon></button>
    </div>
    <div fxFlex="100">
      <button type="button" mat-icon-button (click)="addTelefono()" [disabled]="!canCreateOrEdit" color="accent"><mat-icon>add</mat-icon></button>
    </div>
  </div>

  <h3>Emails</h3>
  <div formArrayName="emails" fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutAlign.lt-sm="center center">
    <div *ngFor="let email of emails.controls; let i=index" [formGroupName]="i"
      fxLayout="row wrap" fxLayoutGap="2%" fxLayoutAlign="start center" class="win-full-width">
      <mat-form-field fxFlex="66" fxFlex.lt-sm="83">
        <input matInput placeholder="*Email" formControlName="email">
        <mat-error *ngIf="email.errors">
          <span>
            El email no es válido.
          </span>
        </mat-error>
      </mat-form-field>
      <button type="button" mat-icon-button (click)="deleteEmail(i)" [disabled]="!canCreateOrEdit" color="warn"><mat-icon>delete</mat-icon></button>
    </div>
    <div fxFlex="100">
      <button type="button" mat-icon-button (click)="addEmail()" [disabled]="!canCreateOrEdit" color="accent"><mat-icon>add</mat-icon></button>
    </div>
  </div>

  <h3>Observaciones</h3>
  <div fxLayout="row wrap" fxLayoutGap="2%" fxLayoutAlign="start center" fxLayoutAlign.lt-sm="center center">
    <mat-form-field flex="100" class="win-full-width">
      <textarea matInput placeholder="Observaciones" formControlName="observaciones"
        matTextareaAutosize matAutosizeMinRows="1" matAutosizeMaxRows="5"></textarea>
    </mat-form-field>
  </div>

  <h3 *ngIf="parts.relacion || parts.interacciones">Interacciones</h3>
  <div *ngIf="parts.relacion || parts.interacciones" fxLayout="row wrap" fxLayoutGap="2%" fxLayoutAlign="start center" fxLayoutAlign.lt-sm="center center">
    <div *ngIf="parts.relacion" fxFlex="100" class="win-checkboxes-wrapper">
      <mat-checkbox fxFlex="32" fxFlex.lt-sm="94" formControlName="esCliente">¿Es cliente?</mat-checkbox>
      <mat-checkbox fxFlex="32" fxFlex.lt-sm="94" formControlName="esProveedor">¿Es proveedor?</mat-checkbox>
    </div>

    <mat-form-field *ngIf="parts.interacciones" fxFlex="32" fxFlex.lt-sm="94">
      <input matInput [matDatepicker]="fUltimaCompraDp" placeholder="Fecha Última Compra" formControlName="fUltimaCompra" readonly="true">
      <mat-datepicker-toggle matSuffix [for]="fUltimaCompraDp"></mat-datepicker-toggle>
      <mat-datepicker #fUltimaCompraDp></mat-datepicker>
    </mat-form-field>

    <mat-form-field *ngIf="parts.interacciones && parts.deprecated" fxFlex="32" fxFlex.lt-sm="94">
      <input matInput [matDatepicker]="fUltimaReservaDp" placeholder="Última Reserva (dep.)" formControlName="fUltimaReserva" readonly="true">
      <mat-datepicker-toggle matSuffix [for]="fUltimaReservaDp"></mat-datepicker-toggle>
      <mat-datepicker #fUltimaReservaDp></mat-datepicker>
    </mat-form-field>

    <mat-form-field *ngIf="parts.interacciones" fxFlex="32" fxFlex.lt-sm="94">
      <input matInput [matDatepicker]="fUltimaVisitaDp" placeholder="Fecha Última Visita" formControlName="fUltimaVisita" readonly="true">
      <mat-datepicker-toggle matSuffix [for]="fUltimaVisitaDp"></mat-datepicker-toggle>
      <mat-datepicker #fUltimaVisitaDp></mat-datepicker>
    </mat-form-field>
  </div>

  <h4 *ngIf="parts.registro">Detalles del Registro</h4>
  <div *ngIf="parts.registro" fxLayout="row wrap" fxLayoutGap="2%" fxLayoutAlign="start center" fxLayoutAlign.lt-sm="center center">
    <mat-form-field fxFlex="32" fxFlex.lt-sm="94">
      <win-usuario-select placeholder="Creador" [formControl]="creadorId" [showClear]="false"></win-usuario-select>
    </mat-form-field>

    <mat-form-field fxFlex="32" fxFlex.lt-sm="94">
        <win-usuario-select placeholder="Modificador" [formControl]="modificadorId" [readOnly]="true" [showClear]="false"></win-usuario-select>
    </mat-form-field>

    <mat-form-field fxFlex="13" fxFlex.lt-sm="94">
      <input matInput [matDatepicker]="creadoDp" placeholder="Creado el" formControlName="fCreado" readonly="true">
      <mat-datepicker-toggle matSuffix [for]="creadoDp"></mat-datepicker-toggle>
      <mat-datepicker #creadoDp></mat-datepicker>
    </mat-form-field>

    <mat-form-field fxFlex="13" fxFlex.lt-sm="94">
      <input matInput matDatepicker placeholder="Modificado el" formControlName="fModificado" readonly="true">
    </mat-form-field>
  </div>
  <div *ngIf="parts.deprecated" fxLayout="row wrap" fxLayoutGap="2%" fxLayoutAlign="start center" fxLayoutAlign.lt-sm="center center">
    <mat-form-field fxFlex="32" fxFlex.lt-sm="94">
      <input matInput placeholder="Creador (dep.)" formControlName="creador" readonly="true">
    </mat-form-field>

    <mat-form-field fxFlex="32" fxFlex.lt-sm="94">
      <input matInput placeholder="Modificador (dep.)" formControlName="modificador" readonly="true">
    </mat-form-field>

    <mat-form-field fxFlex="13" fxFlex.lt-sm="94">
      <input matInput [matDatepicker]="creadodepDp" placeholder="Creado el (dep.)" formControlName="creado" readonly="true">
      <mat-datepicker-toggle matSuffix [for]="creadodepDp"></mat-datepicker-toggle>
      <mat-datepicker #creadodepDp></mat-datepicker>
    </mat-form-field>

    <mat-form-field fxFlex="13" fxFlex.lt-sm="94">
      <input matInput matDatepicker placeholder="Modificado el (dep.)" formControlName="modificado" readonly="true">
    </mat-form-field>
  </div>

  <h4 *ngIf="parts.instancias && 'field' === mainService.instanciaStrategy">Instancia</h4>
  <div *ngIf="parts.instancias && 'field' === mainService.instanciaStrategy" fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutAlign.lt-sm="center center">
    <mat-form-field fxFlex="31" fxFlex.lt-sm="83">
      <win-instancia-select placeholder="Instancia" formControlName="instancia" [readOnly]="false" [showClear]="false"></win-instancia-select>
      <mat-error *ngIf="instancia.errors">
        <span>
          La instancia es requerida.
        </span>
      </mat-error>
    </mat-form-field>
  </div>

  <h4 *ngIf="parts.instancias && 'arrayField' === mainService.instanciaStrategy">Instancias</h4>
  <div *ngIf="parts.instancias && 'arrayField' === mainService.instanciaStrategy" formArrayName="instancias" fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutAlign.lt-sm="center center">
    <div *ngFor="let instancia of instancias.controls; let i=index" [formGroupName]="i"
      fxLayout="row wrap" fxLayoutGap="2%" fxLayoutAlign="start center" class="win-full-width">
      <mat-form-field fxFlex="31" fxFlex.lt-sm="83">
        <win-instancia-select placeholder="Instancia" formControlName="instancia" [readOnly]="false" [showClear]="false"></win-instancia-select>
        <mat-error *ngIf="instancia.errors">
          <span>
            El instancia es requerida.
          </span>
        </mat-error>
      </mat-form-field>
      <button type="button" mat-icon-button (click)="deleteInstancia(i)" color="warn"><mat-icon>delete</mat-icon></button>
    </div>
    <div fxFlex="100">
      <button type="button" mat-icon-button (click)="addInstancia()"><mat-icon color="accent">add</mat-icon></button>
    </div>
  </div>
</form>