<mat-toolbar>
  <span fxFlex="70" fxLayout="row" fxLayoutAlign="start center">
    <button type="button" mat-icon-button (click)="onSave(true)" color="primary"
      [disabled]="form.invalid || !form.touched || !canCreateOrEdit">
      <mat-icon class="win-action-btn" title="Guardar">save</mat-icon>
    </button>

    <button type="button" mat-icon-button (click)="onDelete()"
      [disabled]="'0' == form.get('id').value || !autho.canDelete">
      <mat-icon class="win-action-btn" title="Borrar">delete</mat-icon> 
    </button>
  </span>
  <span fxFlex="30" fxLayout="row" fxLayoutAlign="end center">
    <button *ngIf="isPopup" mat-icon-button (click)="onClose()">
      <mat-icon>close</mat-icon>
    </button>
  </span>
</mat-toolbar>

<mat-divider></mat-divider>

<form [formGroup]="form" autocomplete="off">
  <div fxLayout="row wrap" fxLayoutGap="2%" fxLayoutAlign="start center" fxLayoutAlign.lt-sm="center center">
    <mat-form-field fxFlex="64" fxFlex.lt-sm="94">
      <input matInput placeholder="*Nombre" formControlName="nombre">
      <mat-error *ngIf="nombre.errors">
        <span *ngIf="nombre.errors.required">
          El nombre es requerido.
        </span>
        <span *ngIf="nombre.errors.minlength">
          El nombre es muy corto.
        </span>
      </mat-error>
    </mat-form-field>

    <mat-form-field fxFlex="31" fxFlex.lt-sm="94">
      <input matInput [matAutocomplete]="empresaAuto" placeholder="Empresa o Agencia" formControlName="empresaAux" autocomplete="off" type="search">
      <mat-hint>Escribe para buscar una empresa</mat-hint>
      <mat-error *ngIf="empresaAux.errors">
        <span *ngIf="empresaAux.errors.required">
          Es requerido.
        </span>
      </mat-error>
    </mat-form-field>
    <mat-autocomplete #empresaAuto="matAutocomplete" [displayWith]="displayEmpresa" (optionSelected)="empresaSelected($event)">
      <mat-option *ngFor="let option of empresas$|async" [value]="option">{{option.razonSocial}}</mat-option>
    </mat-autocomplete>
  </div>

  <h3>Ubicación</h3>
  <div class="win-map">
    <agm-map [latitude]="mapLat" [longitude]="mapLng" [mapTypeId]="mapType" [zoom]="mapZoom"
      (mapClick)="onMapClick($event)" (zoomChange)="onZoomChange($event)">
      <agm-marker *ngIf="punto_latitude.value && punto_longitude.value"
        [latitude]="punto_latitude.value"
        [longitude]="punto_longitude.value"
        [opacity]="1">
    </agm-marker>
    </agm-map>
  </div>
  <div fxLayout="row wrap" fxLayoutGap="2%" fxLayoutAlign="start center" fxLayoutAlign.lt-sm="center center">
    <span formGroupName="punto" fxFlex="50" fxFlex.lt-sm="94" fxLayoutGap="2%">
      <mat-form-field fxFlex="50" fxFlex.lt-sm="94">
        <input matInput placeholder="Latitud" formControlName="latitude">
      </mat-form-field>
    
      <mat-form-field fxFlex="50" fxFlex.lt-sm="94">
        <input matInput placeholder="Longitud" formControlName="longitude">
      </mat-form-field>
    </span>

    <mat-form-field fxFlex="22" fxFlex.lt-sm="94">
      <input matInput placeholder="Altitud" formControlName="alt">
    </mat-form-field>

    <mat-form-field fxFlex="21" fxFlex.lt-sm="94">
      <input matInput placeholder="Zoom" formControlName="zoom">
    </mat-form-field>
  </div>

  <div *ngIf="parts.deprecated" formGroupName="coords" fxLayout="row wrap" fxLayoutGap="2%" fxLayoutAlign="start center" fxLayoutAlign.lt-sm="center center">
    <mat-form-field fxFlex="31" fxFlex.lt-sm="94">
      <input matInput placeholder="Latitud" formControlName="latitude">
      <mat-hint>Deprecated field.</mat-hint>
    </mat-form-field>
  
    <mat-form-field fxFlex="31" fxFlex.lt-sm="94">
      <input matInput placeholder="Longitud" formControlName="longitude">
      <mat-hint>Deprecated field.</mat-hint>
    </mat-form-field>
  </div>

  <div fxLayout="row wrap" fxLayoutGap="2%" fxLayoutAlign="start center" fxLayoutAlign.lt-sm="center center">
    <mat-form-field fxFlex="64" fxFlex.lt-sm="94">
      <input matInput placeholder="Dirección" formControlName="direccion">
    </mat-form-field>
  
    <mat-form-field fxFlex="31" fxFlex.lt-sm="94">
        <input matInput placeholder="Ciudad" formControlName="ciudad">
    </mat-form-field>

    <mat-form-field *ngIf="parts.deprecated" fxFlex="64" fxFlex.lt-sm="94">
      <input matInput placeholder="*Email" formControlName="email">
      <mat-hint >Deprecated field.</mat-hint>
    </mat-form-field>

    <mat-form-field *ngIf="parts.deprecated" fxFlex="31" fxFlex.lt-sm="94">
      <mat-select placeholder="Tipo de Sede" formControlName="tipo">
        <mat-option [value]="'cerrada'">Cerrada</mat-option>
        <mat-option [value]="'fisica'">Física</mat-option>
        <mat-option [value]="'virtual'">Virtual</mat-option>
      </mat-select>
      <mat-hint >Deprecated field.</mat-hint>
    </mat-form-field>
  </div>

  <h3>Teléfonos y Móviles</h3>
  <div formArrayName="telefonos" fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutAlign.lt-sm="center center">
    <div *ngFor="let telefono of telefonos.controls; let i=index" [formGroupName]="i"
      fxLayout="row wrap" fxLayoutGap="2%" fxLayoutAlign="start center" class="win-full-width">
      <mat-form-field fxFlex="20" fxFlex.lt-sm="30">
        <mat-select placeholder="*Tipo" formControlName="tipo">
          <mat-option *ngFor="let option of telefonoOpts" [value]="option.value">
            {{option.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field fxFlex="44" fxFlex.lt-sm="52">
        <input matInput placeholder="*Número" formControlName="numero" winPhone>
      </mat-form-field>
      <button type="button" mat-icon-button (click)="deleteTelefono(i)" [disabled]="!canCreateOrEdit" color="warn"><mat-icon>delete</mat-icon></button>
    </div>
    <div fxFlex="100">
      <button type="button" mat-icon-button (click)="addTelefono()" [disabled]="!canCreateOrEdit" color="accent"><mat-icon>add</mat-icon></button>
    </div>
  </div>

  <h3>Emails</h3>
  <div formArrayName="emails" fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutAlign.lt-sm="center center">
    <div *ngFor="let email of emails.controls; let i=index" [formGroupName]="i"
      fxLayout="row wrap" fxLayoutGap="2%" fxLayoutAlign="start center" class="win-full-width">
      <mat-form-field fxFlex="66" fxFlex.lt-sm="83">
        <input matInput placeholder="*Email" formControlName="email">
        <mat-error *ngIf="email.errors">
          <span>
            El email no es válido.
          </span>
        </mat-error>
      </mat-form-field>
      <button type="button" mat-icon-button (click)="deleteEmail(i)" [disabled]="!canCreateOrEdit" color="warn"><mat-icon>delete</mat-icon></button>
    </div>
    <div fxFlex="100">
      <button type="button" mat-icon-button (click)="addEmail()" [disabled]="!canCreateOrEdit" color="accent"><mat-icon>add</mat-icon></button>
    </div>
  </div>

  <h3>Tipo de Sede</h3>
  <div formArrayName="tipos" fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutAlign.lt-sm="center center">
    <div *ngFor="let tipo of tipos.controls; let i=index" [formGroupName]="i"
      fxLayout="row wrap" fxLayoutGap="2%" fxLayoutAlign="start center" class="win-full-width">
      <mat-form-field fxFlex="66" fxFlex.lt-sm="83">
        <win-sede-tipo-select placeholder="*Tipo" 
          formControlName="id" 
          (select)="onSedeTipoSelect($event, i)"></win-sede-tipo-select>
        <mat-error *ngIf="id.errors">
          <span *ngIf="id.errors.required">
            Es requerido.
          </span>
        </mat-error>
      </mat-form-field>
      <button type="button" mat-icon-button (click)="deleteTipo(i)" [disabled]="!canCreateOrEdit" color="warn"><mat-icon>delete</mat-icon></button>
    </div>
    <div fxFlex="100">
      <button type="button" mat-icon-button (click)="addTipo()" [disabled]="!canCreateOrEdit" color="accent"><mat-icon>add</mat-icon></button>
    </div>
  </div>

  <h3>Observaciones</h3>
  <div fxLayout="row wrap" fxLayoutGap="2%" fxLayoutAlign="start center" fxLayoutAlign.lt-sm="center center">
    <mat-form-field flex="100" class="win-full-width">
      <textarea matInput placeholder="Observaciones" formControlName="observaciones"
        matTextareaAutosize matAutosizeMinRows="1" matAutosizeMaxRows="5"></textarea>
    </mat-form-field>
  </div>

  <h3 *ngIf="parts.interacciones">Interacciones</h3>
  <div *ngIf="parts.interacciones" fxLayout="row wrap" fxLayoutGap="2%" fxLayoutAlign="start center" fxLayoutAlign.lt-sm="center center">
    <mat-form-field fxFlex="31" fxFlex.lt-sm="94">
      <input matInput [matDatepicker]="fUltimaCompraDp" placeholder="Fecha Última Compra" formControlName="fUltimaCompra" readonly="true">
      <mat-datepicker-toggle matSuffix [for]="fUltimaCompraDp"></mat-datepicker-toggle>
      <mat-datepicker #fUltimaCompraDp></mat-datepicker>
    </mat-form-field>

    <mat-form-field *ngIf="parts.interacciones && parts.deprecated" fxFlex="32" fxFlex.lt-sm="94">
      <input matInput [matDatepicker]="fUltimaReservaDp" placeholder="Última Reserva (dep.)" formControlName="fUltimaReserva" readonly="true">
      <mat-datepicker-toggle matSuffix [for]="fUltimaReservaDp"></mat-datepicker-toggle>
      <mat-datepicker #fUltimaReservaDp></mat-datepicker>
    </mat-form-field>

    <mat-form-field fxFlex="31" fxFlex.lt-sm="94">
      <input matInput [matDatepicker]="fUltimaVisitaDp" placeholder="Fecha Última Visita" formControlName="fUltimaVisita" readonly="true">
      <mat-datepicker-toggle matSuffix [for]="fUltimaVisitaDp"></mat-datepicker-toggle>
      <mat-datepicker #fUltimaVisitaDp></mat-datepicker>
    </mat-form-field>
  </div>

  <h4 *ngIf="parts.registro">Detalles del Registro</h4>
  <div *ngIf="parts.registro" fxLayout="row wrap" fxLayoutGap="2%" fxLayoutAlign="start center" fxLayoutAlign.lt-sm="center center">
    <mat-form-field fxFlex="32" fxFlex.lt-sm="94">
      <win-usuario-select placeholder="Creador" [formControl]="creadorId" [showClear]="false"></win-usuario-select>
    </mat-form-field>

    <mat-form-field fxFlex="32" fxFlex.lt-sm="94">
        <win-usuario-select placeholder="Modificador" [formControl]="modificadorId" [readOnly]="true" [showClear]="false"></win-usuario-select>
    </mat-form-field>

    <mat-form-field fxFlex="13" fxFlex.lt-sm="94">
      <input matInput [matDatepicker]="creadoDp" placeholder="Creado el" formControlName="fCreado" readonly="true">
      <mat-datepicker-toggle matSuffix [for]="creadoDp"></mat-datepicker-toggle>
      <mat-datepicker #creadoDp></mat-datepicker>
    </mat-form-field>

    <mat-form-field fxFlex="13" fxFlex.lt-sm="94">
      <input matInput matDatepicker placeholder="Modificado el" formControlName="fModificado" readonly="true">
    </mat-form-field>
  </div>
  <div *ngIf="parts.deprecated" fxLayout="row wrap" fxLayoutGap="2%" fxLayoutAlign="start center" fxLayoutAlign.lt-sm="center center">
    <mat-form-field fxFlex="32" fxFlex.lt-sm="94">
      <input matInput placeholder="Creador (dep.)" formControlName="creador" readonly="true">
    </mat-form-field>

    <mat-form-field fxFlex="32" fxFlex.lt-sm="94">
      <input matInput placeholder="Modificador (dep.)" formControlName="modificador" readonly="true">
    </mat-form-field>

    <mat-form-field fxFlex="13" fxFlex.lt-sm="94">
      <input matInput [matDatepicker]="creadodepDp" placeholder="Creado el (dep.)" formControlName="creado" readonly="true">
      <mat-datepicker-toggle matSuffix [for]="creadodepDp"></mat-datepicker-toggle>
      <mat-datepicker #creadodepDp></mat-datepicker>
    </mat-form-field>

    <mat-form-field fxFlex="13" fxFlex.lt-sm="94">
      <input matInput matDatepicker placeholder="Modificado el (dep.)" formControlName="modificado" readonly="true">
    </mat-form-field>
  </div>

  <h4 *ngIf="parts.instancias && 'field' === mainService.instanciaStrategy">Instancia</h4>
  <div *ngIf="parts.instancias && 'field' === mainService.instanciaStrategy" fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutAlign.lt-sm="center center">
    <mat-form-field fxFlex="31" fxFlex.lt-sm="83">
      <win-instancia-select placeholder="Instancia" formControlName="instancia" [readOnly]="false" [showClear]="false"></win-instancia-select>
      <mat-error *ngIf="instancia.errors">
        <span>
          La instancia es requerida.
        </span>
      </mat-error>
    </mat-form-field>
  </div>

  <h4 *ngIf="parts.instancias && 'arrayField' === mainService.instanciaStrategy">Instancias</h4>
  <div *ngIf="parts.instancias && 'arrayField' === mainService.instanciaStrategy" formArrayName="instancias" fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutAlign.lt-sm="center center">
    <div *ngFor="let instancia of instancias.controls; let i=index" [formGroupName]="i"
      fxLayout="row wrap" fxLayoutGap="2%" fxLayoutAlign="start center" class="win-full-width">
      <mat-form-field fxFlex="31" fxFlex.lt-sm="83">
        <win-instancia-select placeholder="Instancia" formControlName="instancia" [readOnly]="false" [showClear]="false"></win-instancia-select>
        <mat-error *ngIf="instancia.errors">
          <span>
            El instancia es requerida.
          </span>
        </mat-error>
      </mat-form-field>
      <button type="button" mat-icon-button (click)="deleteInstancia(i)" color="warn"><mat-icon>delete</mat-icon></button>
    </div>
    <div fxFlex="100">
      <button type="button" mat-icon-button (click)="addInstancia()"><mat-icon color="accent">add</mat-icon></button>
    </div>
  </div>
</form>