<mat-toolbar>
  <span fxFlex="70" fxLayout="row" fxLayoutAlign="start center">
    <button type="button" mat-icon-button (click)="onSave(true)" color="primary"
      [disabled]="form.invalid || !form.touched || !canCreateOrEdit">
      <mat-icon class="win-action-btn" title="Guardar">save</mat-icon>
    </button>

    <button type="button" mat-icon-button (click)="onDelete()"
      [disabled]="'0' == form.get('id').value || !autho.canDelete">
      <mat-icon class="win-action-btn" title="Borrar">delete</mat-icon> 
    </button>
  </span>
  <span fxFlex="30" fxLayout="row" fxLayoutAlign="end center">
    <button *ngIf="isPopup" mat-icon-button (click)="onClose()">
      <mat-icon>close</mat-icon>
    </button>
  </span>
</mat-toolbar>

<mat-divider></mat-divider>

<form [formGroup]="form">
  <div fxLayout="row wrap" fxLayoutGap="2%" fxLayoutAlign="start center" fxLayoutAlign.lt-sm="center center">
    <mat-form-field fxFlex="31" fxFlex.lt-sm="94">
      <mat-select placeholder="Nombre del Módulo" formControlName="nombre">
        <mat-option *ngFor="let option of moduloOpts" [value]="option.value">
          {{option.viewValue}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="nombre.errors">
        <span *ngIf=" nombre.errors.required">
          El tipo de relación es requerido.
        </span>
        <span *ngIf="nombre.errors.moduloExists">
          El módulo ya existe.
        </span>
      </mat-error>
    </mat-form-field>

    <mat-form-field fxFlex="31" fxFlex.lt-sm="94">
      <mat-select placeholder="Estrategia para la Instancia" formControlName="strategy">
        <mat-option *ngFor="let option of strategyOpts" [value]="option.value">
          {{option.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field fxFlex="20" fxFlex.lt-sm="94">
      <input matInput placeholder="Conteo" formControlName="count">
    </mat-form-field>

    <div fxFlex="100" class="win-checkboxes-wrapper">
      <mat-checkbox fxFlex="31" fxFlex.lt-sm="94" formControlName="enabled">¿Habilitada?</mat-checkbox>
    </div>
  </div>
  
  <h3>Partes Activas del Formulario</h3>
  <div formArrayName="formParts" fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutAlign.lt-sm="center center">
    <div *ngFor="let formPart of formParts.controls; let i=index" [formGroupName]="i"
      fxLayout="row wrap" fxLayoutGap="2%" fxLayoutAlign="start center" class="win-full-width">
      <mat-form-field fxFlex="44" fxFlex.lt-sm="52">
        <input matInput placeholder="Parte" formControlName="part">
      </mat-form-field>
      <mat-form-field fxFlex="20" fxFlex.lt-sm="30">
        <mat-select placeholder="Activo" formControlName="active">
          <mat-option [value]="false">Inactivo</mat-option>
          <mat-option [value]="true">Activo</mat-option>
        </mat-select>
      </mat-form-field>
      <button type="button" mat-icon-button (click)="deleteFormPart(i)" [disabled]="!canCreateOrEdit" color="warn"><mat-icon>delete</mat-icon></button>
    </div>
    <div fxFlex="100">
      <button type="button" mat-icon-button (click)="addFormPart()" [disabled]="!canCreateOrEdit" color="accent"><mat-icon>add</mat-icon></button>
    </div>
  </div>

  <h3>Parámetros</h3>
  <div formArrayName="params" fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutAlign.lt-sm="center center">
    <div *ngFor="let param of params.controls; let i=index" [formGroupName]="i"
      fxLayout="row wrap" fxLayoutGap="2%" fxLayoutAlign="start center" class="win-full-width">
      <mat-form-field fxFlex="44" fxFlex.lt-sm="52">
        <input matInput placeholder="Parámetro" formControlName="key">
      </mat-form-field>
      <mat-form-field fxFlex="20" fxFlex.lt-sm="30">
        <input matInput placeholder="Valor" formControlName="value">
      </mat-form-field>
      <button type="button" mat-icon-button (click)="deleteParam(i)" [disabled]="!canCreateOrEdit" color="warn"><mat-icon>delete</mat-icon></button>
    </div>
    <div fxFlex="100">
      <button type="button" mat-icon-button (click)="addParam()" [disabled]="!canCreateOrEdit" color="accent"><mat-icon>add</mat-icon></button>
    </div>
  </div>
</form>