<div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="15px" fxFlexFill>
  <div fxFlex="18" class="win-left-sidebar">
    <mat-toolbar>
      <win-app-nav></win-app-nav>
    </mat-toolbar>

    <mat-list fxHide.lt-md>
      <mat-list-item *ngFor="let item of sidebar" title="{{ item.name }}" [routerLink]="[item.link]" 
        routerLinkActive="active" [class.disabled]="item.disabled">
        <mat-icon>{{ item.icon }}</mat-icon>
        {{ item.name | slice:0:9 }}...
      </mat-list-item>
    </mat-list>
  </div>

  <div fxFlex class="win-content">
    <win-usuario-grid
      [mode]="'edit'"
      [canCreate]="autho.canCreate"
      [canDelete]="autho.canDelete"
      [allowSearch]="true"
      (create)="onCreate()"
      (select)="onSelect($event)">
    </win-usuario-grid>
  </div>
  <button fxHide fxShow.lt-md mat-mini-fab [matMenuTriggerFor]="gridMenu" class="win-sidebar-menu-btn">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #gridMenu="matMenu" class="win-left-sidebar">
    <a *ngFor="let item of sidebar" mat-menu-item [routerLink]="[item.link]" routerLinkActive="active" [class.disabled]="item.disabled">
      <mat-icon>{{ item.icon }}</mat-icon>
      {{ item.name | slice:0:9 }}...
    </a>
  </mat-menu>
</div>