<mat-toolbar>
  <span fxFlex="70" fxLayout="row" fxLayoutAlign="start center">
    <button type="button" mat-icon-button (click)="onSave(true)" color="primary"
      [disabled]="form.invalid || !form.touched || !canCreateOrEdit">
      <mat-icon class="win-action-btn" title="Guardar">save</mat-icon>
    </button>

    <button type="button" mat-icon-button (click)="onDelete()"
      [disabled]="'0' == form.get('id').value || !canDelete">
      <mat-icon class="win-action-btn" title="Borrar">delete</mat-icon> 
    </button>
  </span>
  <span fxFlex="30" fxLayout="row" fxLayoutAlign="end center">
    <button *ngIf="isPopup" mat-icon-button (click)="onClose()">
      <mat-icon>close</mat-icon>
    </button>
  </span>
</mat-toolbar>

<mat-divider></mat-divider>

<form [formGroup]="form">
  <div fxLayout="row wrap" fxLayoutGap="2%" fxLayoutAlign="start center" fxLayoutAlign.lt-sm="center center">
    <mat-form-field fxFlex="100" fxFlex.lt-sm="94">
      <input matInput placeholder="*Nombre" formControlName="displayName">
      <mat-error *ngIf="displayName.errors">
        <span *ngIf="displayName.errors.required">
          El nombre es requerido.
        </span>
      </mat-error>
    </mat-form-field>

    <mat-form-field fxFlex="65" fxFlex.lt-sm="94">
      <input matInput placeholder="*Email" formControlName="email">
      <mat-error *ngIf="email.errors">
        <span *ngIf="email.errors.required">
          Un email es requerido.
        </span>
        <span *ngIf="email.errors.email">
          El email no es válido.
        </span>
        <span *ngIf="email.errors.usuarioExists">
          Ya existe como {{ email.errors.usuarioExists }}
        </span>
      </mat-error>
    </mat-form-field>

    <mat-form-field fxFlex="31" fxFlex.lt-sm="94">
      <input matInput placeholder="uid" formControlName="uid">
    </mat-form-field>
  </div>

  <h4 *ngIf="parts.password && '0' !== id.value">Cambiar Contraseña</h4>
  <div *ngIf="parts.password && '0' !== id.value" fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutAlign.lt-sm="center center">
    <mat-form-field fxFlex="31" fxFlex.lt-sm="94">
      <input type="password" matInput placeholder="Contraseña" formControlName="password">
    </mat-form-field>
    <button type="button" mat-stroked-button [disabled]="password.disabled" (click)="changePassword()" color="primary"><mat-icon>lock</mat-icon> Cambiar</button>
  </div>

  <h4 *ngIf="parts.roles && '0' !== id.value">Asignar Rol</h4>
  <div *ngIf="parts.roles && '0' !== id.value" fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutAlign.lt-sm="center center">
    <mat-form-field fxFlex="31" fxFlex.lt-sm="50">
      <mat-select placeholder="Rol" formControlName="role">
        <mat-option *ngIf="isWebmaster" [value]="'webmaster'">Webmaster</mat-option>
        <mat-option *ngFor="let option of roleOpts" [value]="option.value">
          {{option.viewValue}}
        </mat-option>
      </mat-select>
      <mat-hint>Para modificar el rol, primero deshabilite el usuario.</mat-hint>
    </mat-form-field>
    <button type="button" [disabled]="role.disabled" mat-stroked-button (click)="grantRole()" color="primary"><mat-icon>verified_user</mat-icon> Asignar</button>
    <mat-slide-toggle *ngIf="parts.disable" [disabled]="!canCreateOrEdit" [checked]="!disabled.value" (change)="disabledToggle($event)">Usuario Habilitado</mat-slide-toggle>
  </div>

  <h4 *ngIf="parts.registro">Detalles del Registro</h4>
  <div *ngIf="parts.registro" fxLayout="row wrap" fxLayoutGap="2%" fxLayoutAlign="start center" fxLayoutAlign.lt-sm="center center">
    <mat-form-field fxFlex="32" fxFlex.lt-sm="94">
      <win-usuario-select placeholder="Creador" [formControl]="creadorId" [showClear]="false"></win-usuario-select>
    </mat-form-field>

    <mat-form-field fxFlex="32" fxFlex.lt-sm="94">
        <win-usuario-select placeholder="Modificador" [formControl]="modificadorId" [readOnly]="true" [showClear]="false"></win-usuario-select>
    </mat-form-field>

    <mat-form-field fxFlex="13" fxFlex.lt-sm="94">
      <input matInput [matDatepicker]="creadoDp" placeholder="Creado el" formControlName="fCreado" readonly="true">
      <mat-datepicker-toggle matSuffix [for]="creadoDp"></mat-datepicker-toggle>
      <mat-datepicker #creadoDp></mat-datepicker>
    </mat-form-field>

    <mat-form-field fxFlex="13" fxFlex.lt-sm="94">
      <input matInput matDatepicker placeholder="Modificado el" formControlName="fModificado" readonly="true">
    </mat-form-field>
  </div>

  <h4 *ngIf="parts.instancias && 'field' === mainService.instanciaStrategy">Instancia</h4>
  <div *ngIf="parts.instancias && 'field' === mainService.instanciaStrategy" fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutAlign.lt-sm="center center">
    <mat-form-field fxFlex="31" fxFlex.lt-sm="83">
      <win-instancia-select placeholder="Instancia" formControlName="instancia" [readOnly]="false" [showClear]="false"></win-instancia-select>
      <mat-error *ngIf="instancia.errors">
        <span>
          La instancia es requerida.
        </span>
      </mat-error>
    </mat-form-field>
  </div>

  <h4 *ngIf="parts.instancias">Instancias</h4>
  <div *ngIf="parts.instancias" formArrayName="instancias" fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutAlign.lt-sm="center center">
    <div *ngFor="let instancia of instancias.controls; let i=index" [formGroupName]="i"
      fxLayout="row wrap" fxLayoutGap="2%" fxLayoutAlign="start center" class="win-full-width">
      <mat-form-field fxFlex="31" fxFlex.lt-sm="83">
        <win-instancia-select placeholder="Instancia" formControlName="instancia" [readOnly]="false" [showClear]="false"></win-instancia-select>
        <mat-error *ngIf="instancia.errors">
          <span>
            El instancia es requerida.
          </span>
        </mat-error>
      </mat-form-field>
      <button type="button" mat-icon-button (click)="deleteInstancia(i)" color="warn"><mat-icon>delete</mat-icon></button>
    </div>
    <div fxFlex="100">
      <button type="button" mat-icon-button (click)="addInstancia()"><mat-icon color="accent">add</mat-icon></button>
    </div>
  </div>
</form>