<div class="container" fxLayout="row" fxLayoutAlign="center center">
  <div fxFlex="40%" fxLayoutAlign="center center">
    <mat-card fxLayout="column">
      <h1>Elige una Instancia</h1>
      <mat-action-list>
        <button *ngFor="let instancia of instancias | async" mat-list-item (click)="navigateToInstancia(instancia)">
          {{ instancia }}
        </button>
      </mat-action-list>
    </mat-card>
  </div>
</div>