<mat-toolbar>
    <span fxFlex="60" fxLayout="row" fxLayoutAlign="start center">
      <button *ngIf="'readOnly' == mode || 'edit' == mode" type="button" mat-icon-button color="primary" (click)="onCreate()"
        [disabled]="!autho.canCreate">
        <mat-icon title="Crear nueva">add</mat-icon> 
      </button>
  
      <button *ngIf="'readOnly' == mode || 'edit' == mode" type="button" mat-icon-button (click)="onDelete()" 
        [disabled]="0 == selection.selected.length || !autho.canDelete">
        <mat-icon title="Borrar">delete</mat-icon> 
      </button>
      <button *ngIf="allowSearch" type="button" mat-icon-button (click)="clearSearch()">
        <mat-icon title="Buscar">search</mat-icon>
      </button>
    </span>
    <span fxFlex="40" fxLayout="row" fxLayoutAlign="end center">
      <mat-paginator class="win-toolbar-paginator"
        [length]="mainService.itemCount"
        [pageSize]="mainService.pageSize"
        showFirstLastButtons>
      </mat-paginator>
  
      <button *ngIf="isPopup" mat-icon-button (click)="onClose()">
        <mat-icon>close</mat-icon>
      </button>
    </span>
  </mat-toolbar>
  
  <mat-toolbar *ngIf="searching">
    <form fxFlex="100" [formGroup]="searchForm">
      <mat-form-field fxFlex>
        <input matInput formControlName="searchString" (select)="$event.stopPropagation()" placeholder="Buscar">
      </mat-form-field>
    </form>
    <button *ngIf="allowSearch" type="button" mat-icon-button (click)="clearSearch()">
      <mat-icon title="Limpiar">clear</mat-icon> 
    </button>
  </mat-toolbar>
  
  <mat-divider></mat-divider>
  
  <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="select" *ngIf="'edit' == mode || 'multiselect' == mode">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox
          (change)="$event ? masterToggle() : null"
          [checked]="selection.hasValue() && isAllSelected()"
          [indeterminate]="selection.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </th>
  
      <td mat-cell *matCellDef="let row">
        <mat-checkbox
          (click)="$event.stopPropagation()"
          (change)="checkboxToggle($event, row)"
          [checked]="selection.isSelected(row)">
        </mat-checkbox>
      </td>
    </ng-container>
  
    <ng-container matColumnDef="mobileView">
      <th fxHide fxShow.lt-md mat-header-cell *matHeaderCellDef> Equipo </th>
      <td fxHide fxShow.lt-md mat-cell *matCellDef="let equipo">
        <strong>{{ equipo.serial }}</strong></td>
    </ng-container>
  
    <ng-container matColumnDef="serial">
      <th fxHide.lt-md mat-header-cell *matHeaderCellDef> Serial </th>
      <td fxHide.lt-md mat-cell *matCellDef="let equipo"> {{ equipo.serial }} </td>
    </ng-container>
  
  
    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let row; columns: columns;"
      [ngClass]="setRowClickClass(row)"
      (click)="onRowClick(row)">
    </tr>
  </table>
  
  <div class="win-footer-btn" *ngIf="'multiselect' == mode">
    <span fxFlex fxLayoutAlign="start start" *ngIf="showBackButton">
      <button type="button" mat-button color="primary" (click)="onBack()">{{ backButtonText }}</button>
    </span>
    <span fxFlex fxLayoutAlign="end start">
      <button type="button" mat-button color="primary" (click)="onSelect()" [disabled]="0 == selection.selected.length && !allowSelectEmpty">{{ selectButtonText }}</button>
    </span>
  </div>