<div class="bounds">
  <mat-toolbar>
    <win-app-nav></win-app-nav>
  </mat-toolbar>
  <mat-divider></mat-divider>

  <div class="win-content" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="15px" fxFlexFill>
    <mat-card fxFlex="30">
      <mat-card-title>Usuarios</mat-card-title>
      <mat-card-subtitle>Métricas</mat-card-subtitle>
      <mat-card-content>Contenido de la métrica</mat-card-content>
    </mat-card>

    <mat-card fxFlex="30">
      <mat-card-title>Equipos</mat-card-title>
      <mat-card-subtitle>Métricas</mat-card-subtitle>
      <mat-card-content>Contenido de la métrica</mat-card-content>
    </mat-card>

    <mat-card fxFlex="30">
      <mat-card-title>Mediciones</mat-card-title>
      <mat-card-subtitle>Métricas</mat-card-subtitle>
      <mat-card-content>Contenido de la métrica</mat-card-content>
    </mat-card>
  </div>
</div>