<div [formGroup]="parts">
    <input fxFlex formControlName="inputDescr" (input)="_handleInput()" readonly>
    <mat-icon *ngIf="!readOnly && !loading && !disabled && (!showClear || ( showClear && '' == inputId.value))" (click)="openSelect()" matSuffix>search</mat-icon>
    <mat-icon *ngIf="!readOnly && !loading && !disabled && showClear && '' != inputId.value" (click)="onClear()" matSuffix>clear</mat-icon>
    <mat-spinner *ngIf="loading" [diameter]="20"></mat-spinner>
  </div>