<div class="bounds">
  <mat-toolbar>
    <win-app-nav></win-app-nav>
  </mat-toolbar>
  <mat-divider></mat-divider>

  <div class="win-content" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="15px" fxFlexFill>
    <h1>Parece que andas algo perdido</h1>
    <p>La página que estás buscando no existe o no se encuentra disponible. Por favor intenta con el menú.</p>
  </div>
</div>