/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* app bootstrap screen */
.loading {
  opacity: 0;
  position: fixed;
  height: 100%;
  width: 100%;
  background: #ffffff;
  z-index: -1;
  padding-top: 8px;
  padding-left: 8px;
  transition: opacity .07s ease-out;
}
app-root:empty + .loading {
  opacity: 1;
  z-index: 100;
  span {
    font-family: 'Times New Roman', Times, serif;
  }
}

/* Import styles for fullcalendar */
@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';
@import '~@fullcalendar/timegrid/main.css';


/** Hack ngx-material-timepicker behind modals */ 
.timepicker-overlay, .timepicker-backdrop-overlay {
  z-index: 1200 !important;
}